@{
}

<form class="form" asp-action="Create" method="post">
    <div class="form-input">
        <label for="companyname">Company name:</label><br>
        <input type="text" id="companyname" name="companyname">
    </div>
    <br />

    <div class="form-input">
        <label for="size">Size:</label><br>
        <input type="number" id="size" name="size">
    </div>
    <br />

    <div class="form-input">
        <label for="businesstype">Business type:</label><br>
        <input type="text" id="businesstype" name="businesstype">
    </div>
    <br />
    <button type="submit">Create</button>
</form>
